@model IEnumerable<ContosoUniversity.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<p>
    <button class="btn btn-primary" type="submit" style="background-color: aliceblue">@Html.ActionLink("Create New", "Create")</button>
</p>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">Course</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Credits)
                    </th>
                    <th>
                        Department
                    </th>
                    <th>Action</th>
                </tr>

                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Credits)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department.Name)
                        </td>
                        <td>
                            <button class="btn btn-info btn-sm" type="submit">@Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) </button>
                            <button class="btn btn-info btn-sm" type="submit">@Html.ActionLink("Details", "Details", new { id = item.CourseID }) </button>
                            <button class="btn btn-danger btn-sm" type="submit">@Html.ActionLink("Delete", "Delete", new { id = item.CourseID })</button>
</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
